<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feed Me</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <header>
      <div style="background-color: burlywood; opacity: 0.75; margin-left: 5%;">
        <a href="/"><h1 ">FeedMe</h1></a>
        </div>  
        <nav>
            <ul style="">
              {{#if loggedIn}}
                <li>
                    <a href="/dashboard" ><h2>Dashboard</h2></a>
                </li>
                <li>
                    <a href="/" id="logout"><h2>Logout</h2></a>
                </li>
                {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </header>
    {{!-- <section class="hero">
      
    </section> --}}
  {{!-- <div class="wrapper">
      <header class="hero">
          <div>
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    {{#if loggedIn}}
                    <a class="link" href="/dashboard">Dashboard</a>
                    
                    <a class="link" href="/" id="logout">Logout</a>
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>Feed Me</h1>
      </header> --}}
      

    <div>
      {{{ body }}}
    </div>
  {{!-- </div> --}}

    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>