{{#if recipes.length}}
<section>
  <h2>Your Recipe</h2>
 
    {{#each recipes as |recipes|}}
    
     <div class="card">
      <div class="card-header">
        <h4><a class="link" href="/dashboard/edit/{{id}}">{{name}}</a></h4>
      </div>
    </div>
      
      
    {{/each}}
  
</section>
{{/if}}

<button type="submit" class="btn"><a class="" href="/dashboard/new">New Recipe</a></button>

<script src="/javascript/add-recipes.js"></script>