<section class="w3-container food_form_container">
<div class="card card recipe_form_card" style="width: 50%; border-radius:25px;padding:8px;border:3px solid black;">

  <h3 style="color:black; margin-left:8px;"class="card-head recipe_create_header recipe_form_label_title">Login</h3>
  <form id="login-form" class="card-body">

      <label class="form-label recipe_form_label" for="email-login" >email:</label>
      <input autofocus="true" class="form-input" type="email" id="email-login" />

      <label style="margin:3px;"class="form-label recipe_form_label" for="password-login">password:</label>
      <input autofocus="true" class="form-input" type="password" id="password-login" />
    
      <button class="btn recipe_form_label_button" type="submit" style="margin:8px 0px;border:2px solid rgba(0, 0, 0, 0.316);">Login</button>
      <center><a class="login-link btn recipe_form_label_button" style="margin:8px 0px; background-color:brown;border:2px solid rgba(0, 0, 0, 0.316);" href="/signup">Sign Up</a></center>
    
  </form>
</div>
</section>
<script src="/javascript/login.js"></script>