<div class="card">
    <h3 class="card-header">Create A New Recipe</h3>
    <form class="card-body new-recipes-form" id="new-recipes-form">
        <label for="recipes-name" class="form-label">Name</label>
        <input type="text" id="recipes-name" name="recipes-name" class="form-input" />

        
 <label for="image-url">Images:</label><br />
    <div id="image-url-wrap">
      <input
        class="post-input"
        type="text"
        name="image-url"
        placeholder="Photo URL"
      />
     <button id="upload-image">Upload Images</button>
    </div>
        

        {{!-- <div class="drop-zone">
        <span class="drop-zone__prompt">Drop File hear or Click to Upload</span>
        <input type="file" name="myFile" class="drop-zone__input">
        </div> --}}

        <div class="create_ingredients ">
            

           <ul class="ingredients_list"></ul>
            <label class="form-label" for="recipes-ingredients">Ingredients</label>
            <textarea id="recipes-ingredients" name="recipes-ingredients" class="form-input ingredient_textarea" ></textarea>

            

            {{!-- <div>
            <button class="addIngredient" type="button">ADD</button>
        </div> --}}
        </div>

        <div class="create_direction">
           

            <ol class="directions_list"></ol>
            <label class="form-label" for="recipes-direction">Directions</label>
            <textarea id="recipes-direction" name="recipes-direction" class="form-input direction_textarea" ></textarea>

            

            {{!-- <div>
            <button class="addDirection" type="button">ADD</button>
        </div> --}}
        </div>

        <label class="form-label" for="recipes-description">Description</label>
        <input id="recipes-description" name="recipes-description" class="form-input" />
       
        <div>
            <button type="submit" class="btn">Create</button>
        </div>
        
    </form>
</div>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript">  
</script>
<script src="/javascript/add-recipes.js"></script>
<script src="/javascript/image.js"></script>

        
        
        