<div class="card">
    <h3 class="card-header">Create A New Recipe</h3>
    <form class="card-body new-recipes-form" id="new-recipes-form">
        <label for="recipes-name" class="form-label">Name</label>
        <input type="text" id="recipes-name" name="recipes-name" class="form-input" />

        <div class="drop-zone">
        <span class="drop-zone__prompt">Drop File hear or Click to Upload</span>
        <input type="file" name="myFile" class="drop-zone__input">
        </div>

        <div class="create_ingredients">
            <h2>Ingredients</h2>

            <ul class="ingredients_list"></ul>

            <textarea class="ingredient_textarea"></textarea>

            <div>
            <button class="addIngredient" type="button">ADD</button>
        </div>
        </div>

        <div class="create_direction">
            <h2>Directions</h2>

            <ol class="directions_list"></ol>

            <textarea class="direction_textarea"></textarea>

            <div>
            <button class="addDirection" type="button">ADD</button>
        </div>
        </div>

        <label class="form-label" for="recipes-description">Description</label>
        <input id="recipes-description" name="recipes-description" class="form-input" />
        <div>
            
        </div>
        <button type="button" class="btn">Create</button>
    </form>
</div>

<script src="/javascript/add-recipes.js"></script>
<script src="/javascript/image.js"></script>

