
<section class="w3-container food_form_container">
<div class="card recipe_form_card">
    <h3 class="card-header recipe_create_header"><span style="margin-left:38%;" class="recipe_form_label_title">Create A New Recipe</span></h3>
    <form class="card-body new-recipes-form" id="new-recipes-form">

        <label for="recipes-name " class="form-label"><span class="recipe_form_label">Name</span></label>
        <textarea placeholder="enter recipe name" autofocus type="text" id="recipes-name" name="recipes-name" class="form-input recipe_form_name" /></textarea>

        <label class="form-label " for="recipes-ingredients"><span class="recipe_form_label">Ingredients</span></label>
        <textarea placeholder="enter recipe ingredients" id="recipes-ingredients" name="recipes-ingredients" class="form-input recipe_form_ingredients" /></textarea>

        <label class="form-label " for="recipes-direction"><span class="recipe_form_label">Directions</span></label>
        <textarea placeholder="enter recipe directions" id="recipes-direction" name="recipes-direction" class="form-input recipe_form_directions" /></textarea>

        <label class="form-label " for="recipes-description"><span class="recipe_form_label">Description</span></label>
        <textarea placeholder="enter recipe description" id="recipes-description" name="recipes-description" class="form-input recipe_form_description" /></textarea>
        <div>
            
        </div>
        <button type="submit" class="btn recipe_form_btn"><span class="recipe_form_label_button">Create Recipe</span></button>
    </form>
</div>

<script src="/javascript/add-recipes.js"></script>
</section>
