:root {
    --primary: #ccdad1;
    --secondary: #dce9d5;
    --tertiary: #788585;
    --light-dark: #a1a0a1;
    --dark: #201110;
    --border-radius: .3rem;
  }
  
  * {
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body {
    height: 100%;
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 24px;
  }
  
  h1,
  h2,
  h3,
  h5,
  h6 {
    font-weight: 700;
    margin: 0;
    color: var(--dark);
    line-height: 1.25;
  }
  
  .w3-center {
    display:inline-block;
    width:auto;
    text-align: center;
  }

  .w3-container {
    padding:0.01em 16px;
  }

  .w3-card-4,.w3-hover-shadow:hover {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  }
h1 {
  float: left;
  font-size: 180px;
  color: black;
  
}

.eleven {
  font-size:35px;
  text-align:center; 
  line-height:2em; 
  padding-bottom:55px; 
  font-family:"Playfair Display", 
  serif; text-transform:uppercase;
  letter-spacing: 2px; color:#111;
}


.eight{
  text-align:center;
 
  text-transform:uppercase;
  font-size:26px; letter-spacing:1px;
  
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 16px 0;
  grid-gap: 22px;
}

.eight:after,.eight h1:before {
  content: " ";
  display: block;
  border-bottom: 2px solid #ccc;
  background-color:#f8f8f8;
}


  .link-color {
    color: var(--tertiary);
    padding: 10px;
    margin: 10px
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  .btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: white;
    border: none;
    outline: none;
    background-color: var(--light-dark);
    transform: translate(-1px, -1px);
  }
  
  .btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .btn-inline {
    display: inline;
  }
  
  .btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }
  
  .push {
    margin-left: auto;
  }

  .hero {
    height: 509px;
    width: 100%;
    padding: 5px;
    margin-bottom: 25px;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: center;
}

  /* .hero {
    display: flex;
    padding: 3% 4%;
    background-color: var(--dark);
    color: var(--primary);
  } */
  
  .hero p {
    max-width: 75%;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .app-title {
    font-size: 3rem;
    background-color: var(--primary);
    color: var(--dark);
    margin-top: 10px;
    padding: 0 10px;
    display: inline-block;
    border-radius: var(--border-radius);
    box-shadow: 6px 5px var(--light-dark);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }
  
  .status-icon {
    padding: 2px 5px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: var(--border-radius);
  }
  
  .icon-danger {
    color: rgb(255, 70, 70);
  }
  
  .icon-success {
    color: rgb(29, 153, 255);
  }
  /* CARDS */
  
  .card {
    margin: 0 0 20px 0;
    border: 2px solid var(--dark);
    border-radius: var(--border-radius);
    
  }
  
  header {
    display: flex;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin: 1%;
    align-items: center;
    /* justify-content: center; */
    height:380px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: brown;
    color: #ffffff; */
}

  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 1%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
   
   
  }
  
  .column {
    float: left;
    width: 32.7%;
    padding: 10px;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card-body {
    padding: 1%;
  }
  
  h4 {
    font-weight: 700;
    margin: 0;
    color: var(--light-dark);
    line-height: 1.25;
  }
  
  .link {
    color: var(--light-dark);
    margin: 30px;
  }
  
  .login-link {
    color: var(--dark);
  }
  nav {
    display: flex;
    float: right;
    flex-direction: row;
    margin: auto;
    
}

nav ul {
    list-style-type: none;
    float: right;


}

nav ul li {
    display: flex;
    flex-flow: row;
    margin-left: 0;
    padding: 0;
    background-color: wheat;
    opacity: 0.8;
}
/* 

  .nav {
    padding: 10px;
    margin-right: 10px;
    justify-content: space-around;
    line-height: 1.25;
    float: top;
    text-decoration: none;
  } */
  
  #rcorners2 {
    border-radius: 25px;
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 20px;
    height: 800px;
    margin: 5px;
  }
  #rcorners1 {
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 99.5%;
    height: 100%;
    margin: .15% .15%;
  }

  footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
  }
  
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    
    font-size: 1.2rem;
    border: 2px solid var(--light-dark);
    border-radius: var(--border-radius);
  }
  
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
/* *** begin RECIPE INPUT FORMS *** */
.food_form_container {
  width: 100%;
  margin: 15px 0px;
}

.recipe_form_card {
  width: 85%;
  margin: auto;
}

.recipe_create_header {
 color: brown;
}

.recipe_form_label_title {
  color: burlywood; 
  font-family: 'Trocchi', serif; 
  font-size: 40px; 
}

.recipe_form_label {
  color: black; 
  font-family: 'Trocchi', serif; 
  font-size: 30px; 
  font-weight:400; 
  line-height: 48px; 
  margin-left: 2px;

}

.recipe_form_name {
  padding: 5px;
  margin-bottom: 6px;
}

.recipe_form_ingredients {
  padding: 5px;
}

.recipe_form_directions {
  height: 240px;
  padding: 5px;
}

.recipe_form_description {
  height: 55px;
  padding: 5px;
}

.recipe_form_btn {
  margin-top: 10px;
  padding: 5px;

}

.recipe_form_label_button {
  color: black; 
  font-family: 'Trocchi', serif; 
  font-size: 35px; 
  padding: 3px 0;
}

/* *** end RECIPE INPUT FORMS *** */

  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  /* col-sm */
  
  @media screen and (min-width: 640px) {
    .col-sm-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-sm-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-sm-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-sm-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-sm-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-sm-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-sm-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-sm-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-sm-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-sm-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-sm-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-sm-12 {
        flex: 0 0 100%;
    }
  }
  /* col-md */
  
  @media screen and (min-width: 768px) {
    .col-md-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-md-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-md-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-md-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-md-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-md-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-md-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-md-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-md-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-md-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-md-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-md-12 {
        flex: 0 0 100%;
    }
  }
  /* col-lg */
  
  @media screen and (min-width: 992px) {
    .col-lg-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-lg-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-lg-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-lg-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-lg-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-lg-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-lg-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-lg-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-lg-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-lg-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-lg-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-lg-12 {
        flex: 0 0 100%;
    }
  }
  /* col-xl */
  
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
        flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
    .col-xl-2 {
        flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
    .col-xl-3 {
        flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
    .col-xl-4 {
        flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
    .col-xl-5 {
        flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
    .col-xl-6 {
        flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
    .col-xl-7 {
        flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
    .col-xl-8 {
        flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
    .col-xl-9 {
        flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
    .col-xl-10 {
        flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
    .col-xl-11 {
        flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
    .col-xl-12 {
        flex: 0 0 100%;
    }
  }